name: Publish vllm gptoss image

on:
  workflow_dispatch: # Allows to trigger the workflow manually in GitHub UI

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/vllm-openai
  IMAGE_TAG: gptoss

jobs:
  build-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Delete huge unnecessary tools folder
        # See <https://github.com/orgs/community/discussions/25678>
        run: rm -rf /opt/hostedtoolcache
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Log in to the Container registry
        uses: docker/login-action@v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            # use custom value instead of git tag
            type=raw,value=${{ env.IMAGE_TAG }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          file: vllm-project/vllm/Dockerfile.gptoss
          context: vllm-project/vllm
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
